.layout {
    display: flex;
    flex-direction: column;
}

.footer {
    background:#3c3c3b;
    padding: 60px 0px;   
    text-align: center; 
    width: auto;
<<<<<<< HEAD
    margin-top: 10px;
=======
    
>>>>>>> c184252 (adding specific weight and height to svg)
}
.footer h1 {
    text-transform: lowercase;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.footer h1::first-letter {
    text-transform: uppercase;
}
.footer__developers h2  {
    font-size: 1.2rem;
    color: white;
    text-transform: capitalize;
}
.footer__developers {
    display: flex;
    justify-content: center;
    gap: 150px;
   
}
.footer__developers a {
    background: #50504f;
    border-radius: 50%;
    display: inline-block;
    font-size: 1.4rem;
    height: 50px;
    line-height: 2.45;
    margin: 0 10px;
    text-decoration: none;
    width: 50px;
}
.footer__developers a img {
<<<<<<< HEAD
    width: 24px;
    height: 24px;
=======
    width: auto;
    height: auto;
>>>>>>> c184252 (adding specific weight and height to svg)
}

 