.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 244, 244);
    margin-top: 65px;
}
.logout-view {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}
.info-logout img {
    width: 90px;
    height: 90px;
}

.form-login__data, .info-logout  {
    background: #fff;
    border-radius: 10px;
    max-width: 400px;
    padding: 25px;
    width: 100%;
    margin: 20px 0px;   
}
/* Signup*/
.signup_data {
   margin: auto;
   margin-top: 100px;
}
.signup-title {
    margin-bottom: 15px;
}
.info-logout--adjust {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.form-login__data strong {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
}
.test-data {
    background: #d8f5fd;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 12px;
}
.test-data b {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
}
.data-access {
    color: black;
    font-weight: 400;
}
.login-message {
    color: #2fa8f8;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
    margin-top: 30px;
}
.button-login {
    background: var(--primary);
    color: #fff;
    margin: 10px 0 25px;
    padding: 9px;
    width: 100%;

    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: var(--primary);
    --bs-btn-active-color: white;
    --bs-btn-active-bg: var(--primary);
    --bs-btn-active-border-color: white;
    --bs-btn-disabled-bg: var(--primary);
}
.button-login.btn-primary {
    --bs-btn-border-color: #ffffff;
}
.form-label {
    font-weight: 400;
}
.input-login {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    display: block;
    margin-top: 4px;
    padding: 6px 8px;
    width: 100%;
}
.signup-account {
    display: flex;
    gap: 8px;
    font-weight: 400;
}
.signup-account a {
    text-decoration: none;
    color: #2fa8f8;
}